table, th, td {
  border: 1px solid black;
}

.inTheMoney {
  background: lightgreen;
}

.strikeHeader {
  text-align: center;
  font-weight: 700;
}

.center {
  text-align: center;
}

.darker {
  font-weight: 500;
}

.bid {
  color: seagreen;
}

.ask {
  color: darkgreen;
}